@font-face {
    font-family: "Noto Sans KR";
    font-weight: 50;
    src: url("../fonts/NotoSansKR-Medium.otf");
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../img/intro.png") no-repeat center;
    background-size: cover 50%;
}

.body::before {
    content: "";
    position: absolute; 
    z-index: 1;
    top: 0; 
    right: 0; 
    bottom:0; 
    left:0;
    background: white url("../img/intro.png");
    background-repeat: no-repeat;
    background-size: cover 50%;
    background-position: top 50% center;
    filter: brightness(30%);
}
.login_form {
    position: relative; 
    z-index: 2;}

.login_form h1{
    font-size: 32px; color: #fff;
    text-align: center;
    margin-bottom: 60px;
}
.int_area {
    width:400px; 
    position: relative; 
    margin-top: 20px;
}
.int_area:first-child {margin-top: 0;}
.int_area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; 
    color: #fff;
    outline: none;
}
.int_area label {
    position: absolute; 
    left: 10px; 
    top: 15px; 
    font-size: 18px; 
    color: #999;
    transition: all .5s ease;
}
.int_area label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}
@keyframes warning {
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
}
.int_area input:focus + label,
.int_area input:valid + label {
    top: -2px;
    font-size: 13px; 
    color: #166cea;
}

.btn_area {margin-top: 30px;}
.btn_area button {
    width: 100%; 
    height: 50px;
    background: #166cea;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.caption {
    margin-top: 20px;
    text-align: center;
}
.caption a {
    font-size: 15px; 
    color: #999; 
    text-decoration: none;
}

.part1_green {
    grid-area: part1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(42, 255, 138, 0.8);
}

.part1_yellow {
    grid-area: part1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 220, 79, 0.8);
}

.part1_red {
    grid-area: part1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 79, 79, 0.8);
}

.part2_green {
    grid-area: part2;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(42, 255, 138, 0.8);
}

.part2_yellow {
    grid-area: part2;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 220, 79, 0.8);
}

.part2_red {
    grid-area: part2;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 79, 79, 0.8);
}

.part3_green {
    grid-area: part3;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(42, 255, 138, 0.8);
}

.part3_yellow {
    grid-area: part3;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 220, 79, 0.8);
}

.part3_red {
    grid-area: part3;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 79, 79, 0.8);
}

.part4_green {
    grid-area: part4;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(42, 255, 138, 0.8);
}

.part4_yellow {
    grid-area: part4;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 220, 79, 0.8);
}

.part4_red {
    grid-area: part4;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 79, 79, 0.8);
}

.part5_green {
    grid-area: part5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(42, 255, 138, 0.8);
}

.part5_yellow {
    grid-area: part5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 220, 79, 0.8);
}

.part5_red {
    grid-area: part5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 79, 79, 0.8);
}

.part6_green {
    grid-area: part6;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(42, 255, 138, 0.8);
}

.part6_yellow {
    grid-area: part6;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 220, 79, 0.8);
}

.part6_red {
    grid-area: part6;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 79, 79, 0.8);
}